.app-header {
  width: 100%;
  max-height: 100px;
  display: flex;
  padding: 14px;
  background-color: #f4f5f9;
  margin-bottom: 40px;
}

.logo-wrapper {
  max-width: 110px;
}

.logo-image {
  max-width: 110px;
  border: 5px solid #fff;
  width: 100%;
  margin: 15px 0;
}

.header-text {
  align-self: center;
  margin: auto;
  font-size: 2rem;
  font-weight: 400;
}

@media (max-width: 547px) {
  .header-text {
    font-size: 1.2rem;
  }
}
