.main-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  padding: 0 20px 0 20px;
  grid-column-gap: 30px;
}

.search-section {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-bottom: 20px;
}

.search-wrapper {
  grid-column: 2/3;
  grid-row: 1/2;
}

.selected-section {
  grid-column: 2/3;
  margin-bottom: 20px;
}

.table-section {
  grid-column: 2/3;
  margin-bottom: 20px;
}

.types-section {
  grid-column: 1/2;
  grid-row: 3/4;
}
