.property-title {
  font-size: 18px;
  padding: 10px 0 10px 0;
}

.property-list {
  padding: 10px;
  background-color: #f4f5f9;
  align-items: center;
}

.property-list-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.selected {
  font-weight: 800;
}
