.search-label {
  display: block;
  margin-bottom: 20px;
}

.search-input {
  border: 2px solid #f3f3f3;
  border-radius: 4px;
  display: inline-block;
  outline: none;
  padding: 14px 10px;
  width: 80%;
}

.empty {
  display: none;
}

.clearable {
  position: relative;
}

.clearable-clear {
  display: inline;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 16px;
  font-style: normal;
  font-size: 1.2em;
  user-select: none;
  cursor: pointer;
}
.clearable input::-ms-clear {
  /* Remove IE default X */
  display: none;
}

.search-btn-wrapper {
  display: inline-block;
  width: 20%;
  padding-left: 20px;
}

.search-button {
  font-family: "Montserrat", sans-serif;
  background-color: #ffda43;
  width: 100%;
  text-align: center;
  border: 2px solid #e9c431;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
  padding: 14px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .search-section {
    justify-content: center;
    margin-top: 50px;
  }

  .search-label {
    font-size: 25px;
  }

  .search-wrapper {
    padding: 30px 0;
  }
  .search-input {
    width: 100%;
    font-size: 18px;
  }

  .search-btn-wrapper {
    width: 30%;
    padding-top: 10px;
    padding-left: 0;
  }

  .search-button {
    width: 100%;
    font-size: 16px;
    padding: 10px;
  }
}
